<% provide(:title, "チケットの出品") %>
<!--<%= link_to("＜", {action: "show", controller: "artists",romaji: params[:romaji]},{style: "font-size: 20px;margin-left: 9px;top: 23px;position: absolute;"}) %>-->

<%= form_for @ticket,:url => url_for(:controller => "tickets", :action => "ticket_create") do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
    <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>        
  <% end %>
  <br>

  <div class="card_a" style="margin-top: -15px;">
      <div class="form-group">
          <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                  <%= f.label :schedule,"イベント日程(開演時間)", class:"form-prop-name" %><br>
                  <div class="time">
                  <%= raw sprintf(
                      f.datetime_select( 
                          :schedule,
                          use_month_numbers: true,
                          date_separator: '%s', datetime_separator: '%s'),'年 ','月 ', '日 ') %></div>
                                  <!-- f.datetime_select :schedule, required: true %><br><br>-->
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="row"> 
              <div class="col-lg-4 col-lg-offset-4">
                  <%= f.label :venue,"会場", class:"form-prop-name" %><br>
                  <%= f.text_field :venue,placeholder: "例) さいたまスーパーアリーナ", required: true,class: "form-control" ,maxlength: 140 %>
              </div> 
          </div>                
      </div>

      <div class="form-group">
          <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                  <%= f.label :seat,"座席", class:"form-prop-name" %><br>
                  <%= f.text_field :seat,placeholder: "例) A10", required: true,class: "form-control" ,maxlength: 140 %>
              </div>
          </div>
      </div>

      <div class="form-group">
          <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                  <%= f.label :price,"￥価格", class:"form-prop-name" %><br>
                  <%= f.telephone_field :price,placeholder: "例) 5030", required: true,class: "form-control" ,maxlength: 140 %>
              </div>
          </div>
      </div>

      <div class="form-group">
          <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                  <%= f.label :comment,"コメント", class: "form-prop-name" %>
                  <%= f.text_area :comment,placeholder: "売る理由や配送料等",required: true,rows: 4,class: "form-control" ,maxlength: 140 %>
              </div>
          </div>
      </div>
      <%#= f.hidden_field :romaji,  value: request.path_info %>
      <%= f.hidden_field :artist_id,  value: @artist_id %>
      <%= f.hidden_field :user_id,  value: current_devise_user.id %>
  </div>

      <%= f.submit '出品', data: { confirm: "出品してよろしいですか？", disable_with: "出品中..."},class: "btn btn-default reload", style: "font-weight: 500;" %>
<% end %>
